.nfs*
.vscode
.aiexclude

**/*.pyc
__pycache__/
.ipynb_checkpoints/

.cache/

CMakeUserPresets.json
build*/
dist/

docs/build/
docs/doxygen

# stub files will be generated automatically, do not track them
/SHiP/
ship-env/
.venv/ship-env/
.venv/
